<div class="dashboard">
  <h1>About Us:</h1>
  <div class="ui card dashboardCard" suiPopup popupText="SpaceX is Awesome!" popupInverted [popupPlacement]="position">
    <div class="content">
      <img class="ui image" src="https://www.spacex.com/sites/spacex/files/16855243811_560edaae19_o.jpg">
      <div class="ui text description">
        <p>Space Exploration Technologies Corp., doing business as SpaceX, is a private American aerospace
          manufacturer
          and
          space transportation services company headquartered in Hawthorne, California. It was founded in 2002 by
          entrepreneur Elon Musk with the goal of reducing space transportation costs and enabling the colonization
          of
          Mars.[9][10][11] SpaceX has since developed the Falcon launch vehicle family and the Dragon spacecraft
          family,
          which both currently deliver payloads into Earth orbit.</p>
      </div>
    </div>
  </div>
</div>