<div class="ui card dashboardCard" suiPopup popupText="SpaceX is Awesome!" popupInverted [popupPlacement]="position">
  <div class="content">
    <div class="header">SpaceX App</div>
    <img class="ui image" src="https://fsmedia.imgix.net/33/ac/78/c3/b6cf/4353/9bd5/8d73309ecf41/hqgn8mhlnroyjpg.jpeg?auto=format%2Ccompress&w=650">
    <div class="ui text description">
      <p>Space Exploration Technologies Corp., doing business as SpaceX, is a private American aerospace manufacturer
        and
        space transportation services company headquartered in Hawthorne, California. It was founded in 2002 by
        entrepreneur Elon Musk with the goal of reducing space transportation costs and enabling the colonization of
        Mars.[9][10][11] SpaceX has since developed the Falcon launch vehicle family and the Dragon spacecraft family,
        which both currently deliver payloads into Earth orbit.</p>
    </div>
  </div>
</div>