.dashboard{
  padding: 20px;
  text-align: center;
  .dashboardCard{
    margin-left: 20px;
    display: inline-block;
    width: 90%;
    .description{
      margin: 20px auto;
    }
  }
}

.center{
  margin:auto;
  display: block;
}