<div class="ui top attached demo menu">
  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Menu
  </a>
  <p class="item"> Spacex App</p>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical" #sidebar>
    <a class="item" routerLink="/dashboard">Dashboard</a>
    <a class="item" routerLink="/flights">Flights</a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <router-outlet></router-outlet>
  </sui-sidebar-sibling>
</sui-sidebar-container>